
#advancedFormContainer h3 {
    margin-bottom: 5px;
    float: left;
    width: 100%;
}

#advancedFormContainer h3:before {
    color: #8A2BE2;
}

#advancedFormContainer .ac-w25 {
    width: 25%;
    float: left;
}

#advancedFormContainer .ac-w50 {
    width: 50%;
    float: left;
}

#advancedFormContainer .value.select {
    background-color: #ccc;
    padding: 2px;
    border-radius: 5px;
    margin-right: 3%;
    width: 21%;
}

#advancedFormContainer .value:before {
    font-size: 150%;
    padding-top: 2px;
    position: relative;
    top: 2px;
}

#advancedFormContainer .value.select select {
    width: 84%;
    margin-left: 1%;
}